/* Kilgore's CSS */

body {
    margin: 0;
    padding: 0;
    background-color: gray;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header,
footer {
    background-color: #D50A0A;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-family: 'Delius';
}

h1.display-5 {
    font-family: 'Rubik Doodle Shadow';
}

@media only screen and (min-width: 768px) {
    .brnodisplay {
        display: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
 }

/* My Own CSS */

.img-head {
    height: 7.5rem;
    width: auto;
}

.ParallaxVideo video {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    z-index: -999;
 }

.ParallaxVideo h1 {
    color: #fff;
    text-transform: uppercase;
}

.video-parallax {
    height: 100%;
}

.output {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%);
    color:green;
    font-family: 'Delius';
}