/* Kilgore's CSS */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}

/* My Own CSS */

.img-head {
    height: 7.5rem;
    width: auto;
}

.ParallaxVideo video{ 
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top:0;
    z-index: -999;
  }
  .ParallaxVideo h1 {
  color: #fff;
  text-transform: uppercase;
  }
  
  .video-parallax {
    height: 100%;
  }

  .output {
    background-color: white;
  }